#app {
	max-width: 1280px;
	margin: 0 auto;
	padding: 0.5rem;
	font-weight: normal;
}
@font-face {
	font-family: 'Destiny Symbols Common';
	font-display: auto;
	src: url('/src/assets/fonts/destiny_symbols_common.woff') format('woff');
}

body {
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-image:
		url('/src/assets/bg00.png'), radial-gradient(circle at 50% 10%, #fff8, #ddd0),
		linear-gradient(12deg, #97683944 20%, transparent 60%),
		linear-gradient(-30deg, #1737992e 20%, transparent 60%),
		linear-gradient(4deg, #444 10%, #888 30%, #aaa 90%);
	/* background-color: #888; */
	color: #f8f8f8;
	font-family: sans-serif;
}

h2 {
	font-size: 1em;
	text-align: center;
	margin: 0;
	margin-bottom: 0.25em;
	padding: 0.25em 0;
	border-bottom: 2px solid #fff8;
}
