#app {
	margin: 0;
	font-weight: normal;
}
@font-face {
	font-family: 'Destiny Symbols Common';
	font-display: auto;
	src: url('/src/assets/fonts/destiny_symbols_common.woff') format('woff');
}

body {
	--content-height: calc(100vh - 80px);
	--color-kinetic: #ffffff;
	--color-solar: #f16f27;
	--color-arc: #7aecf3;
	--color-void: #b283cc;
	--color-stasis: #4d87ff;
	--color-strand: #35e366;
	--color-prismatic: #ffffff;
	--color-buff: #afaf;
	--color-debuff: #fa9f;
	--color-masterwork: #eb3f;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-image:
		url('/src/assets/bg00.png'), url('/src/assets/bg00.png'),
		radial-gradient(circle at 50% 10%, #fff8, #ddd0),
		linear-gradient(12deg, #97683944 20%, transparent 60%),
		linear-gradient(-30deg, #1737992e 20%, transparent 60%),
		linear-gradient(4deg, #444 10%, #888 30%, #aaa 90%);
	/* background-color: #888; */
	color: #f8f8f8;
	font-family: sans-serif;
	text-shadow: 1px 1px #0004;
	margin: 0;
}
/* body::before {
	content: '';
	position: absolute;
	width: 75vw;
	height: 75vh;
	top: 12.5%;
	left: 12.5%;
	mask-image: radial-gradient(circle, #000 50%, #fff 50%);
	z-index: -1;
	overflow: hidden;
	animation-name: rotate-bg;
	animation-duration: 60s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	background-image: url('/src/assets/bg00.png'), url('/src/assets/bg00.png');
}
@keyframes rotate-bg {
	0% {
		rotate: 0deg;
	}
	100% {
		rotate: 180deg;
	}
} */
h2 {
	font-size: 1em;
	margin: 0;
	margin-bottom: 0.25em;
	padding: 0.25em 0;
	border-bottom: 2px solid #fff8;
	text-align: left;
	text-transform: uppercase;
	font-weight: 100;
	margin-top: 1em;
	text-shadow: none;
}
.action-log {
	padding: 0.5em;
	resize: none;
	font-family: 'Destiny Symbols Common', sans-serif;
	background-color: #0005;
	border: 2px solid #fffa;
	border-left: none;
	border-right: none;
	color: #fff;
	font-size: 0.8em;
	scrollbar-width: thin;
}
.d-glyph {
	font-family: 'Destiny Symbols Common';
}
input[type='number'] {
	background-color: #0002;
	color: #fff;
	font-weight: bold;
	text-align: right;
	border: 1px solid #fff8;
	padding: 0;
}
button {
	color: #fff;
	text-decoration: none;
	border: 1px solid #fff8;
	background: #0001;
	transition: background 0.1s;
}
button:hover:enabled {
	background: #fff1;
	transition: background 0.1s;
}
button:active {
	background: #fff8;
}
button:disabled {
	color: #ddd;
	opacity: 0.8;
}
